build/
build-*/
out/
cmake-build-*/
dist/
.cache/
.qt/
.vscode/
.vs/
.idea/
*.user
*.user.*
CMakeCache.txt
CMakeFiles/
CMakeUserPresets.json
compile_commands.json
third_party/mpv/
*.exe
*.dll
*.pdb
*.obj
*.ilk
*.exp
*.lib
